* {
    border: 1px solid red;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    margin: 0px;
    padding: 0px;
}

header {
    min-height: 50rem;
    height: 100vh;
    position: relative;
}

body {
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
    background: #ffffff;
}

.yellow-bg {
    background: #ffcc00;
}

.container-fluid {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -20px;
}

.col-5 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 41.6667%;
    max-width: 41.66667%;

    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 20px;
    padding-left: 20px;
}

.col-md-2 {
    flex: 0 0 16.66667%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
}

.logo {
    display: block;
    padding-top: 2rem;
}

.img-fluid {
    max-width: 100%;
}

.w-100 {
    width: 100% !important;
}

.control-btn {
    position: absolute;
    top: 0;
    width: 50%;
    left: 50%;
    padding: 0;
    z-index: 3;

    background: #ffffff transparent;
    display: block;
    outline: none;
    height: 100%;
    background-size: cover !important;
    background-repeat: no-repeat;
}

/* .play{

} */

.align-self-end {
    align-self: flex-end !important;
}

.col-12 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;

    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 20px;
    padding-left: 20px;
}

/* .meta-info{

} */

.label {
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 3rem;
    padding-bottom: 1rem;
}

.purple-bk {
    background: #660099;
}

.ilu {
    width: calc(100% + 4rem);
    margin: 0 -2rem;
}

.how-to {
    padding: 4rem 0;
}

.step {
    padding-bottom: 2rem;
}

.col-md-8 {
    box-sizing: border-box;
    display: block;
    float: none;
    line-height: 20px;
    position: relative;
    z-index: auto;
}

.big-title {
    font-size: 15vw;
    line-height: 20vw;
    text-transform: uppercase;
    /* font-family: Matter Bold; */
    letter-spacing: -4.25px;
    margin-top: -1rem;
}

.col-8 {
    -webkit-box-flex: 0;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.letter {
    width: 100%;
}

.mt-25 {
    margin-top: -25%;
}

.col-md-4 {
    box-sizing: border-box;
    display: block;
    float: none;
    line-height: 20px;
    position: relative;
    z-index: auto;
}

.mt_19{
    margin-top: 2rem;
}

.schedule{
    font-size: 2.4rem;
}

.f_11{
    font-size: 6rem;
}

.no{
    font-size: 3rem;
}

.row-schedule{
    border-top: 1px solid #000000;
}

.right{
    text-align: right;
}

.text-uppercase{
    text-transform: uppercase;
}

.pb-2040{
    padding-bottom: 2rem !important;
}

.row-schedule-big{
    height: 12rem;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    just
}